.pageIndex {
  .topOfPage {
    overflow: hidden;
    min-height: calc(100vh + 4px);
    box-sizing: border-box;
    padding-top: 0;
    display: flex;
    align-items: center
  }

  .background {
    position: absolute;
    top: -180px;
    right: 0
  }


  .sectionHero {
    background: #161517;
    //transition: opacity .65s var(--primary-ease);
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;

    @media screen and (max-width: 768px) {
      padding: 0;
      overflow: visible
    }

    &.hide {
      opacity: 0
    }
  }

  .sectionAbout {
    background: #fff;
    min-height: 100vh;
  }

  .sectionWorks {
    background: #161517;
  }

  @media screen and (max-width: 768px) {
    padding: 100px 0 0
  }

  &.hide {
    opacity: 0
  }

  .areaIntro {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary-red);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      //transition: -webkit-transform 1.25s var(--primary-ease);
      //transition: transform 1.25s var(--primary-ease);
      //transition: transform 1.25s var(--primary-ease), -webkit-transform 1.25s var(--primary-ease);
      //-webkit-transform-origin: left;
      transform-origin: left
    }

    &.appear {
      &:before {
        -webkit-transform: scale(1);
        transform: scale(1)
      }
    }
  }

  .sectionIntro {
    min-height: 100vh;
    /*display: flex;*
    /*justify-content: center;*/
    /*align-items: center;*/
    /*padding: 200px 0;*/
    box-sizing: border-box
  }
}

.sectionBlock {
  margin-bottom: 240px;

  @media screen and (max-width: 768px) {
    margin-bottom: 120px
  }

  @media screen and (max-width: 768px) {
    &.mobileNoBottomMargin {
      margin-bottom: 0
    }
  }

  &:last-of-type {
    margin-bottom: 0
  }
}
