
.hamburger {
    position: relative;
    width: 40px;
    height: 40px
}

@media screen and (max-width: 768px) {
    .hamburger {
        width: 44px;
        height: 44px
    }
}

.hamburger-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.hamburger .button {
    -webkit-transform: translate3d(-20px, -20px, 0);
    transform: translate3d(-20px, -20px, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px
}

.hamburger .background-hamburger {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1f1e1d;
    background-color: var(--color-primary-black-1);
    position: absolute;
    top: 0;
    left: 0;
    transition: -webkit-transform .35s cubic-bezier(.475, .425, 0, .995);
    transition: transform .35s cubic-bezier(.475, .425, 0, .995);
    transition: transform .35s cubic-bezier(.475, .425, 0, .995), -webkit-transform .35s cubic-bezier(.475, .425, 0, .995);
    transition: -webkit-transform .35s var(--primary-ease);
    transition: transform .35s var(--primary-ease);
    transition: transform .35s var(--primary-ease), -webkit-transform .35s var(--primary-ease)
}

.hamburger .background-hamburger.background-is-black, .hamburger .background-hamburger.background-is-red, .hamburger .background-hamburger.white {
    background-color: #fff;
    background-color: var(--color-primary-white)
}

.hamburger .background-hamburger.white {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.hamburger .background-hamburger.white.background-is-black, .hamburger .background-hamburger.white.background-is-red {
    background-color: #1f1e1d;
    background-color: var(--color-primary-black-1)
}

.hamburger .background-hamburger.active {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.hamburger .background-hamburger.inactive {
    -webkit-transform: scale(0);
    transform: scale(0)
}

.hamburger .icon-hamburger {
    opacity: 1
}

.hamburger .icon-hamburger .line-center {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    line-height: 0;
    -webkit-transform: scaleX(.71);
    transform: scaleX(.71);
    -webkit-transform-origin: right;
    transform-origin: right
}

.hamburger .icon-hamburger .line-center, .hamburger .icon-hamburger:after, .hamburger .icon-hamburger:before {
    display: block;
    width: 17px;
    height: 1px;
    background-color: #fff;
    background-color: var(--color-primary-white);
    transition: background-color .45s cubic-bezier(.475, .425, 0, .995), -webkit-transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: transform .45s cubic-bezier(.475, .425, 0, .995), background-color .45s cubic-bezier(.475, .425, 0, .995);
    transition: transform .45s cubic-bezier(.475, .425, 0, .995), background-color .45s cubic-bezier(.475, .425, 0, .995), -webkit-transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: background-color .45s var(--primary-ease), -webkit-transform .45s var(--primary-ease);
    transition: transform .45s var(--primary-ease), background-color .45s var(--primary-ease);
    transition: transform .45s var(--primary-ease), background-color .45s var(--primary-ease), -webkit-transform .45s var(--primary-ease)
}

.hamburger .icon-hamburger:after, .hamburger .icon-hamburger:before {
    content: "";
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
    -webkit-transform-origin: right;
    transform-origin: right
}

.hamburger .icon-hamburger:after {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0)
}

.hamburger .icon-hamburger.background-is-black .line-center, .hamburger .icon-hamburger.background-is-black:after, .hamburger .icon-hamburger.background-is-black:before {
    background-color: #1f1e1d;
    background-color: var(--color-primary-black-1)
}

.hamburger .icon-hamburger.background-is-red .line-center, .hamburger .icon-hamburger.background-is-red:after, .hamburger .icon-hamburger.background-is-red:before {
    background-color: #f84525;
    background-color: var(--color-primary-red)
}

.hamburger .icon-hamburger.hide {
    opacity: 0
}

.hamburger .icon-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: transform .45s cubic-bezier(.475, .425, 0, .995), -webkit-transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: -webkit-transform .45s var(--primary-ease);
    transition: transform .45s var(--primary-ease);
    transition: transform .45s var(--primary-ease), -webkit-transform .45s var(--primary-ease)
}

@media screen and (max-width: 768px) {
    .hamburger .icon-close {
        width: 44px;
        height: 44px
    }
}

.hamburger .icon-close:after, .hamburger .icon-close:before {
    position: absolute;
    top: 20px;
    left: 12px;
    content: "";
    display: block;
    width: 17px;
    height: 1px;
    background-color: #111;
    background-color: var(--color-primary-black-2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: -webkit-transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: transform .45s cubic-bezier(.475, .425, 0, .995), -webkit-transform .45s cubic-bezier(.475, .425, 0, .995);
    transition: -webkit-transform .45s var(--primary-ease);
    transition: transform .45s var(--primary-ease);
    transition: transform .45s var(--primary-ease), -webkit-transform .45s var(--primary-ease)
}

@media screen and (max-width: 768px) {
    .hamburger .icon-close:after, .hamburger .icon-close:before {
        top: 22px;
        left: 13px
    }
}

.hamburger .icon-close.background-is-black:after, .hamburger .icon-close.background-is-black:before, .hamburger .icon-close.background-is-red:after, .hamburger .icon-close.background-is-red:before {
    background-color: #fff;
    background-color: var(--color-primary-white)
}

.hamburger .icon-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.hamburger .icon-close.active {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.hamburger .click-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}

@media screen and (min-width: 769px) {
    .hamburger:hover.active .background-hamburger.white {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    @media screen and (max-width: 768px) {
        .hamburger:hover.active .background-hamburger.white {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }.hamburger:hover:not(.active) .background-hamburger.black {
         -webkit-transform: scale(1.3);
         transform: scale(1.3)
     }

    @media screen and (max-width: 768px) {
        .hamburger:hover:not(.active) .background-hamburger.black {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }.hamburger:hover .line-center {
         -webkit-transform: scale(1);
         transform: scale(1)
     }
}
