
.header {
    max-width: calc(100% - 100px);
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 21;
    transition: opacity .55s var(--primary-ease);
    pointer-events: none
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(100% - 40px);
        height: 116px
    }
}

.header.hidden .logo-container, .header.hidden .minimal {
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0)
}

.header.reveal {
    opacity: 1;
    transition-delay: 1s
}

.header.reveal .logo-container, .header.reveal .minimal {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.header .logo-container, .header .minimal {
    transition: -webkit-transform 1.25s var(--primary-ease);
    transition: transform 1.25s var(--primary-ease);
    transition: transform 1.25s var(--primary-ease), -webkit-transform 1.25s var(--primary-ease)
}

.header .logo-container {
    width: 165px;
    cursor: pointer;
    pointer-events: all;
    transition-delay: .15s
}

.header nav.minimal {
    display: flex;
    align-items: center;
    pointer-events: all;
    transition-delay: .3s
}

.header .prevent-container {
    overflow: hidden
}
