.csSection {
  padding: 10rem 3rem;
}

@media (min-width: 600px) {
  .csSection {
    padding: 16.66667% 8.33333%;
  }
}

@media (min-width: 1000px) {
  .csSection {
    padding: 8.33333%;
  }
}

@media (min-width: 1600px) {
  .csSection {
    padding: 8.33333% 16.66667%;
  }
}

.caseStudy__moneyShot,
.caseStudy__hero {
  height: 100vh;
  max-height: 1600px;
  color: #fff;
  //padding: 8.33333%;
  //display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  padding: 0;
  display: block;
  position: relative;
  @media (max-width: 414px) {
    min-height: 0
  }
}


.caseStudy__moneyShot__image,
.caseStudy__hero__image {
  line-height: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% - 4rem);
  height: 75%;
  max-width: 1080px;
  max-height: 1080px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  .caseStudy__moneyShot__image,
  .caseStudy__hero__image {
    margin: 0;
    width: calc(100% - 16.66667%);
  }
}

@media (min-width: 1000px) {
  .caseStudy__moneyShot__image,
  .caseStudy__hero__image {
    width: 50%;
    height: 60%;
  }
}

.caseStudy__hero::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: white;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 500ms cubic-bezier(0.15, 0.15, 0, 1);
}

.barba-container.-loaded .caseStudy__hero::before {
  transform: scaleY(1);
}

.hero__pullDown {
  display: none;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 8.33333%;
  text-align: center;
}

.caseStudy .hero__pullDown {
  //display: none;
  height: 90px;
  position: absolute;
  bottom: 0;
  //left: 8.33333%;
  text-align: center;
  right: 0;
  left: 0;
}

.caseStudy__hero .hero__pullDown {
  transition: transform 500ms cubic-bezier(0.15, 0.15, 0, 1);
}

.caseStudy__hero .hero__pullDown {
  transform: translateY(-3rem);
}

.caseStudy__moneyShot {
  background: #161517;
  height: 100vh;
  max-height: 1500px;
}

.caseStudy__intro {
}

.caseStudy__intro__projectName {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  font-size: 14px;
}

@media (min-width: 600px) {
  .caseStudy__intro__projectName {
    font-size: 19px;
    line-height: 27.5px;
  }
}

@media (min-width: 1600px) {
  .caseStudy__intro__projectName {
    font-size: 20px;
    line-height: 33px;
  }
}

@media (min-width: 600px) {
  .caseStudy__intro__projectName {
    font-size: 20px;
    line-height: 33px;
  }
}

.caseStudy__intro__projectDescription {
  font-family: "Noto Serif CJK SC", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 0;
  @media (min-width: 600px) {
    font-size: 28px;
    line-height: 55px;
  }
}


.caseStudy__fullTextBlock {
}

.caseStudy__testimonial {
}

.caseStudy__intro__text,
.caseStudy__testimonial__text,
.caseStudy__fullTextBlock__text {
  margin: 0;
}

@media (min-width: 600px) {
  .caseStudy__intro__text,
  .caseStudy__testimonial__text,
  .caseStudy__fullTextBlock__text {
    padding: 10% 0;
  }
}

@media (min-width: 1000px) {
  .caseStudy__intro__text,
  .caseStudy__testimonial__text,
  .caseStudy__fullTextBlock__text {
    padding: 10%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__intro__text,
  .caseStudy__testimonial__text,
  .caseStudy__fullTextBlock__text {
    padding: 12.5%;
  }
}

.caseStudy__testimonial__quote {
  font-size: 22px;
  line-height: 44px;
}

@media (min-width: 600px) {
  .caseStudy__testimonial__quote {
    font-size: 32px;
    line-height: 55px;
  }
}

.caseStudy__testimonial__source {
  margin-top: 4.5rem;
}

.caseStudy__testimonial__clientName {
  display: block;
  font-size: 14px;
  line-height: 33px;
  font-weight: 600;
}

@media (min-width: 600px) {
  .caseStudy__testimonial__clientName {
    display: inline;
    font-size: 18px;
    line-height: 33px;
  }
}

.caseStudy__testimonial__clientTitle {
  display: block;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.83px;
  text-transform: uppercase;
  opacity: 0.4;
}

@media (min-width: 600px) {
  .caseStudy__testimonial__clientTitle {
    display: inline;
    padding-left: 2rem;
    border-left: 2px solid;
    margin-left: 2rem;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 2.17px;
  }
}

.caseStudy__fullTextBlock__text {
  font-size: 22px;
  line-height: 44px;
}

@media (min-width: 600px) {
  .caseStudy__fullTextBlock__text {
    font-size: 32px;
    line-height: 55px;
  }
}

.caseStudy__fullBleedImage {
}

.caseStudy__fullBleedImage__image {
  display: block;
  width: 100%;
}

.caseStudy__fullBleedImage__image.isCover {
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 1500px;
}

.caseStudy__leadIn {
  overflow: hidden;
  padding-bottom: 0;
}

.caseStudy__leadIn__text {
}

@media (min-width: 1000px) {
  .caseStudy__leadIn__text {
    padding: 0 10%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__leadIn__text {
    padding: 0 12.5%;
  }
}

.caseStudy__leadIn__heading {
  font-size: 22px;
  line-height: 44px;
}

@media (min-width: 600px) {
  .caseStudy__leadIn__heading {
    font-size: 26px;
    line-height: 33px;
  }
}

.caseStudy__leadIn__body {
  font-family: "Noto Serif CJK SC", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 33px;
}

@media (min-width: 600px) {
  .caseStudy__leadIn__body {
    font-size: 22px;
    line-height: 38px;
  }
}

.caseStudy__team {
}

.caseStudy__team__text {
}

@media (min-width: 1000px) {
  .caseStudy__team__text {
    padding: 0 10%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__team__text {
    padding: 0 12.5%;
  }
}

.caseStudy__team__heading {
  font-size: 22px;
  line-height: 44px;
}

@media (min-width: 600px) {
  .caseStudy__team__heading {
    font-size: 26px;
  }
}

.caseStudy__team__people {
  padding-right: 2rem;
}

@media (min-width: 600px) {
  .caseStudy__team__people {
    font-size: 22px;
  }
}

@media (min-width: 1000px) {
  .caseStudy__team__heading, .caseStudy__team__people {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__team__heading, .caseStudy__team__people {
    width: 75%;
  }
}


.caseStudy__threeUpMobile {
}

.caseStudy__threeUpMobile__images {
  text-align: center;
  font-size: 0;
}

.caseStudy__threeUpMobile__image {
  max-width: 288px;
  margin: 0 auto 3rem;
  display: block;
}

@media (min-width: 600px) {
  .caseStudy__threeUpMobile__image {
    max-width: 30rem;
    margin: 0 auto 6rem;
  }
}

@media (min-width: 1000px) {
  .caseStudy__threeUpMobile__image {
    display: inline-block;
    width: 30%;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 5%;
  }
  .caseStudy__threeUpMobile__image:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1600px) {
  .caseStudy__threeUpMobile__image {
    display: inline-block;
    width: 25%;
    margin-right: 12.5%;
  }
  .caseStudy__threeUpMobile__image:last-child {
    margin-right: 0;
  }
}

.caseStudy__threeUpMobile__caption {
  max-width: 288px;
  margin: 3rem auto 0;
  text-align: center;
  opacity: 0.65;
}

@media (min-width: 600px) {
  .caseStudy__threeUpMobile__caption {
    max-width: none;
  }
}

@media (min-width: 1000px) {
  .caseStudy__threeUpMobile__caption {
    margin: 6rem auto 0;
  }
}

.caseStudy__boxedImage {
  overflow: hidden;
}

.caseStudy__boxedImage__images {

}

.caseStudy__boxedImage__image {
  width: 100%;
  border-radius: 2px;
}

@media (min-width: 1000px) {
  .caseStudy__boxedImage__image {
    width: 80%;
    margin: 0 10%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__boxedImage__image {
    width: 75%;
    margin: 0 12.5%;
  }
}

.caseStudy__boxedImage__image.isCover {
  background-size: cover;
  background-position: center;
  max-height: 66.6vh;
  padding-bottom: 100%;
}

@media (min-width: 1000px) {
  .caseStudy__boxedImage__image.isCover {
    padding-bottom: 0;
    height: 60rem;
  }
}

@media (min-width: 1600px) {
  .caseStudy__boxedImage__image.isCover {
    height: 70rem;
  }
}

.caseStudy__boxedImage__caption {
  max-width: 288px;
  margin: 3rem auto 0;
  text-align: center;
  opacity: 0.65;
}

@media (min-width: 600px) {
  .caseStudy__boxedImage__caption {
    max-width: none;
  }
}

@media (min-width: 1000px) {
  .caseStudy__boxedImage__caption {
    margin: 6rem auto 0;
  }
}

.caseStudy__splitFeaturette {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .caseStudy__splitFeaturette {
    flex-flow: row-reverse;
    align-items: center;
  }
}

.caseStudy__splitFeaturette__text {
}

@media (min-width: 1000px) {
  .caseStudy__splitFeaturette__text {
    padding: 0 20%;
    width: 40%;
    flex: 1 0 auto;
  }
}

@media (min-width: 1600px) {
  .caseStudy__splitFeaturette__text {
    padding: 0 12.5%;
    width: 50%;
  }
}

.caseStudy__splitFeaturette__heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

@media (min-width: 600px) {
  .caseStudy__splitFeaturette__heading {
    font-size: 26px;
    line-height: 44px;
  }
}

.caseStudy__splitFeaturette__body {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

@media (min-width: 600px) {
  .caseStudy__splitFeaturette__body {
    font-size: 20px;
    line-height: 35px;
  }
}

.caseStudy__splitFeaturette__image {
  max-width: 30rem;
  margin: 3rem auto;
  flex: 0 1 auto;
}

@media (min-width: 600px) {
  .caseStudy__splitFeaturette__image {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .caseStudy__splitFeaturette__image {
    margin-left: 10%;
    width: 25%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__splitFeaturette__image {
    margin-left: 12.5%;
  }
}

.caseStudy__splitFeaturette__image img {
  max-width: 100%;
}

.caseStudy__splitFeaturette__caption {
  padding: 0 3rem;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}

@media (min-width: 600px) {
  .caseStudy__splitFeaturette__caption {
    padding: 0;
  }
}

.caseStudy__dualBoxedImage {
  font-size: 0;
}

.caseStudy__dualBoxedImage__image {
  text-align: center;
}

@media (min-width: 1000px) {
  .caseStudy__dualBoxedImage__image {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__dualBoxedImage__image {
    display: inline-block;
    width: 43.75%;
  }
}

.caseStudy__dualBoxedImage__image:first-child {
  margin-bottom: 4rem;
}

@media (min-width: 600px) {
  .caseStudy__dualBoxedImage__image:first-child {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1000px) {
  .caseStudy__dualBoxedImage__image:first-child {
    margin-right: 10%;
  }
}

@media (min-width: 1600px) {
  .caseStudy__dualBoxedImage__image:first-child {
    margin-right: 12.5%;
  }
}

.caseStudy__dualBoxedImage__image img {
  width: 100%;
  border-radius: 10px;
}
