.workImages {
  position: relative;
  z-index: 1;
}

.workImageContainer {
  display: block;
  height: 100vh;
  max-height: 1500px;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.workImage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, calc(-50% - 3.5rem), 0) rotate(5deg);
  transform: translate3d(-50%, calc(-50% - 3.5rem), 0) rotate(5deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: calc(100% - 4rem);
  height: 75%;
  max-width: 1080px;
  max-height: 1080px;
  transition: opacity .5s cubic-bezier(.15, .15, 0, 1), -webkit-transform .8s cubic-bezier(.15, .15, 0, 1);
  transition: transform .8s cubic-bezier(.15, .15, 0, 1), opacity .5s cubic-bezier(.15, .15, 0, 1);
  transition: transform .8s cubic-bezier(.15, .15, 0, 1), opacity .5s cubic-bezier(.15, .15, 0, 1), -webkit-transform .8s cubic-bezier(.15, .15, 0, 1);
  opacity: .3;

  @media (min-width: 600px) {
    width: 83.33333%
  }

  @media (min-width: 1000px) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(10deg);
    transform: translate3d(-50%, -50%, 0) rotate(10deg);
    width: 50%;
    height: 60%
  }

  &.isVisible {
    opacity: 1;
    -webkit-transform: translate3d(-50%, calc(-50% - 3.5rem), 0) rotate(0deg);
    transform: translate3d(-50%, calc(-50% - 3.5rem), 0) rotate(0deg);

    @media (min-width: 1000px) {
      -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
      transform: translate3d(-50%, -50%, 0) rotate(0deg)
    }
  }

  &.clicked {
    transition: none;
  }
}

.workBackgroundTransition {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #5074e3;
  opacity: 0;
  visibility: hidden
}
